* {
  margin: 0;
  box-sizing: border-box;
}

section .card-grid{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 70px;
}
.card-grid img {
  padding-right: 40px;
  width: 320px;
  height: 300px;
  border-radius:20px;
}
.card-grid div {
  padding-right: 90px;
}
.card-grid div span {
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-right: 20px;
}
.card-grid div h2 {
  font-size: 30px;
  padding: 10px 0 20px 0;
}

.card-grid div p {
  line-height: 25px;
}
.card-grid .bold-dates {
  font-weight: bold;
}

header {
  background-color: #282c34;
  font-size: calc(15px + 1vmin);
  color: white;
  height: 10vh;
  text-align: center;
}

 a{
   color: rgb(66, 66, 66);
 }